################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
minitage.core>=0.0.4
[part]
name = part
recipe = minitage.recipe:cmmi
url = http://mirror.muntinternet.net/pub/gentoo/distfiles/pixman-0.12.0.tar.bz2

