################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe:cmmi
md5sum=494af78c1c7d825c9ad6815d7b91f17d
url = http://mirror.muntinternet.net/pub/gentoo/distfiles/pixman-0.12.0.tar.bz2

